h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

.page-header {
	position: relative;
	height: 250px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.main-heading {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 20px;
	font-weight: 300;
	font-size: 24px;
	text-align: center;

	&.page-heading {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		margin: 0;
		padding: 20px;
		color: $color__white;
		background-color: rgba(0, 0, 0, 0.2);
		font-size: 36px;
		font-weight: 200;
		text-transform: uppercase;
	}

	span {
		margin: 0 20px;
	}

	&::before,
	&::after {
		content: '';
		max-width: 150px;
		height: 1px;
		flex-grow: 1;
		background-color: currentColor;
		opacity: 1;
	}
}

.main-lead {
	margin-top: -16px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
}
