.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999999;
	padding: 0 14px;
	background-color: $color__background-body;
	border-bottom: 1px solid $color__add1;

	@include breakpoint(xs) {
		padding: 0 30px;
	}

	.site-header-inner {
		height: var(--navbar-size);
		max-width: $content__width;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	}

	.site-branding {
		height: 100%;
		padding: 5px 0;

		&:hover {
			&::before {
				display: none;
			}
		}

		img {
			height: 100%;
		}
	}
}

.main-navigation {
	display: block;

	@include breakpoint(sm) {
		display: flex;
	}

	&.toggled {
		#main-menu {
			transform: translateX(0);
			opacity: 1;
		}

		.main-burger {
			&::before,
			&::after,
			span {
				background-color: $color__add1;
			}

			&::before {
				transform: translate(-62.5%, -50%) rotate(-45deg);
			}

			span {
				transform: translate(130%, -50%);
			}

			&::after {
				transform: translate(-62.5%, -50%) rotate(45deg);
			}
		}
	}

	#main-menu {
		position: fixed;
		top: var(--navbar-size);
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		background-color: $color__background-body;
		transform: translateX(100%);
		opacity: 0;
		transition: transform 0.3s, opacity 0.3s;

		@include breakpoint(sm) {
			position: static;
			transform: none;
			transition: none;
			opacity: 1;
		}

		& > div,
		.main-menu-inner {
			height: 100%;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	.main-burger {
		$self: &;
		position: relative;
		width: 40px;
		height: 40px;
		background-color: transparent;
		border: none;
		overflow: hidden;
		outline: none;
		padding: 0;
		cursor: pointer;

		@include breakpoint(sm) {
			display: none;
		}

		&:hover,
		&:focus {
			&::before,
			&::after,
			span {
				background-color: $color__add1;
			}
		}

		&::before,
		&::after,
		span {
			left: 50%;
			position: absolute;
			content: '';
			display: block;
			height: 2px;
			width: 70%;
			background-color: $color__text-main;
			transform: translate(-50%, -50%);
			transform-origin: right;
			transition: transform 0.4s cubic-bezier(1, 0.94, 0.54, 0.95), background-color 0.4s;
			pointer-events: none;
		}

		&::before {
			top: 25%;
		}

		span {
			top: 50%;
		}

		&::after {
			top: 75%;
		}
	}

	.main-menu-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 20px;

		@include breakpoint(sm) {
			flex-direction: row;
			padding: 0;
		}

		.page_item,
		.menu-item {
			position: relative;
			color: $color__text-main;

			&:hover {
				.sub-menu {
					opacity: 1;
					transform: translateX(-50%) scaleX(1);
					transition: opacity 0.4s;
					pointer-events: all;
				}
			}

			.sub-menu {
				position: absolute;
				left: 50%;
				top: 100%;
				width: max-content;
				margin: 0;
				background-color: $color__white;
				opacity: 0;
				transform: translateX(-50%) scaleX(0);
				transition: transform 0s 0.5s, opacity 0.4s;
				pointer-events: none;
				padding: 5px 10px;

				a {
					transition: color 0.4s;

					&:hover {
						color: $color__add1;
					}

					&::before {
						display: none;
					}
				}
			}

			a {
				display: block;
				padding: 10px 10px 0;
				margin-bottom: 10px;
				text-align: center;
				text-decoration: none;
				font-size: 22px;
				font-weight: 200;
				color: inherit;

				@include breakpoint(sm) {
					font-size: 16px;
					font-size: clamp(15px, 1.4vw, 17px);
					font-weight: 300;
				}
			}

			&.current_page_item {
				color: $color__add1;
			}
		}
	}
}
