html,
body {
	scroll-behavior: smooth;
}

body {
	--navbar-size: #{$size__navbar-mobile};
	--navbar-offset: #{$size__navbar-mobile + 30px};

	@media (min-width: 400px) {
		--navbar-size: #{$size__navbar-desktop};
		--navbar-offset: #{$size__navbar-desktop + 30px};
	}

	background: $color__background-body; // Fallback for when there is no custom background color defined.
	padding-top: var(--navbar-size);

	#page {
		min-height: calc(100vh - var(--navbar-size));
		display: flex;
		flex-direction: column;

		main {
			flex-grow: 1;
		}
	}
}
