body {
	--navbar-size: #{$size__navbar-mobile};
	--navbar-offset: #{$size__navbar-mobile + 20px};

	@media (min-width: 400px) {
		--navbar-size: #{$size__navbar-desktop};
		--navbar-offset: #{$size__navbar-desktop + 20px};
	}

	background: $color__background-body; // Fallback for when there is no custom background color defined.
	padding-top: var(--navbar-size);
}
