button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.primary-button,
.secondary-button {
	border: 1px solid;
	border-color: $color__white;
	border-radius: 6px;
	font-weight: 300;
	font-size: 18px;
}

.primary-button,
.secondary-button {
	display: inline-block;
	background: $color__add1;
	color: $color__white;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	text-decoration: none;
	padding: 12px 25px;
	transition: background-color 0.4s, color 0.4s;

	&::before {
		display: none;
	}

	&:visited {
		color: $color__white;
	}
}

.primary-button {
	background-color: transparent;

	&:hover {
		background-color: $color__add1;
	}
}

.secondary-button {
	border-color: $color__add1;

	&:hover {
		background-color: $color__white;
		color: $color__add1;
	}
}
