a {
	position: relative;
	color: $color__link;
	text-decoration: none;
	transition: color 0.3s, opacity 0.3s;

	&:visited {
		color: $color__link-visited;
	}

	&::before {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		height: 1px;
		width: 100%;
		color: inherit;
		background-color: currentColor;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.4s;
	}

	&:hover,
	&:focus,
	&:active {
		opacity: 0.8;

		&::before {
			transform: scaleX(1);
		}
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
