ul,
ol {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

.arrows-list {
	li {
		display: flex;
		padding: 4px 0;

		&:before {
			content: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 11C0 8.08262 1.15893 5.28473 3.22183 3.22183C5.28473 1.15893 8.08262 0 11 0C13.9174 0 16.7153 1.15893 18.7782 3.22183C20.8411 5.28473 22 8.08262 22 11C22 13.9174 20.8411 16.7153 18.7782 18.7782C16.7153 20.8411 13.9174 22 11 22C8.08262 22 5.28473 20.8411 3.22183 18.7782C1.15893 16.7153 0 13.9174 0 11ZM8.118 7.14587C8.05458 7.08021 7.97872 7.02784 7.89484 6.99181C7.81096 6.95577 7.72075 6.93681 7.62946 6.93602C7.53818 6.93522 7.44765 6.95262 7.36316 6.98719C7.27867 7.02175 7.2019 7.0728 7.13735 7.13735C7.0728 7.2019 7.02175 7.27867 6.98719 7.36316C6.95262 7.44765 6.93522 7.53818 6.93602 7.62946C6.93681 7.72075 6.95577 7.81096 6.99181 7.89484C7.02784 7.97872 7.08021 8.05458 7.14587 8.118L12.7779 13.75H8.97188C8.78954 13.75 8.61467 13.8224 8.48574 13.9514C8.35681 14.0803 8.28438 14.2552 8.28438 14.4375C8.28438 14.6198 8.35681 14.7947 8.48574 14.9236C8.61467 15.0526 8.78954 15.125 8.97188 15.125H14.4375C14.6198 15.125 14.7947 15.0526 14.9236 14.9236C15.0526 14.7947 15.125 14.6198 15.125 14.4375V8.97188C15.125 8.78954 15.0526 8.61467 14.9236 8.48574C14.7947 8.35681 14.6198 8.28438 14.4375 8.28438C14.2552 8.28438 14.0803 8.35681 13.9514 8.48574C13.8224 8.61467 13.75 8.78954 13.75 8.97188V12.7779L8.118 7.14587Z' fill='black'/%3E%3C/svg%3E%0A");
			margin-right: 12px;
		}
	}
}
