.accordion {
	border-bottom: 1px solid $color__add1;
	padding: 10px 0;

	&.accordion-opened {
		.accordion-header {
			&::after {
				@include accordion-arrow-rotated;
			}
		}
		.accordion-content {
			display: block;
		}
	}

	.accordion-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: transparent;
		width: 100%;
		font-weight: 500;
		padding: 10px 0;
		font-size: 20px;
		cursor: pointer;

		&::after {
			@include accordion-arrow;
		}
	}

	.accordion-content {
		display: none;

		padding-bottom: 10px;
		padding-left: 10px;

		& > * {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
